[core]
	editor = zile
	whitespace = trailing-space,space-before-tab
	excludesfile = <%= ENV['HOME'] %>/.gitignore

[user]
	name = Evan Meagher
	email = evan.meagher@gmail.com

[apply]
        whitespace = fix

[diff]
        renames = copy

[color]
        diff = auto
        status = auto
        branch = auto
        interactive = auto
        ui = true
        pager = true

[alias]
        st = status
        co = checkout
        br = branch
        vomit = commit -v
        mom = merge origin/main
        dom = diff origin/main
        pom = pull origin main
        rom = rebase origin/main

[push]
        default = simple

[grep]
	lineNumber = true
