[core]
	editor = zile
	whitespace = trailing-space,space-before-tab
	excludesfile = <%= ENV['HOME'] %>/.gitignore

[apply]
        whitespace = fix

[diff]
        renames = copy

[color]
        diff = auto
        status = auto
        branch = auto
        interactive = auto
        ui = true
        pager = true

[alias]
        st = status
        co = checkout
        br = branch
        vomit = commit -v
        mom = merge origin/master
        dom = diff origin/master
        pom = pull origin master

[push]
        default = simple

[grep]
	lineNumber = true
